<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<table class="table table-bordered table-sm">
  <thead class='thead-dark'>
    <tr>
      <th>Style</th>
      <th>Icon Font</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solid</td>
      <td><i class="fas fa-address-book"></i></td>
      <td>fas fa-adress-book</td>
    </tr>
    <tr>
      <td>Regular</td>
      <td><i class="far fa-address-book"></i></td>
      <td>far fa-address-book</td>
    </tr>
    <tr>
      <td>Brands</td>
      <td><i class="fab fa-fort-awesome"></i></td>
      <td>fab fa-fort-awesome</td>
    </tr>
    <tr>
      <td>Solid</td>
      <td><i class="fas fa-ambulance"></i></td>
      <td>fas fa-ambulance</td>
    </tr>
    <tr>
      <td>Regular</td>
      <td><i class="far fa-gem"></i></td>
      <td>far fa-gem</td>
    </tr>
    <tr>
      <td>Brands</td>
      <td><i class="fab fa-apple"></i></td>
      <td>fab fa-apple</td>
    </tr>
    <tr>
      <td>Solid</td>
      <td><i class="fas fa-arrows-alt"></i></td>
      <td>fas fa-arrows-alt</td>
    </tr>
    <tr>
      <td>Regular</td>
      <td><i class="far fa-trash-alt"></i></td>
      <td>far fa-trash-alt</td>
    </tr>
    <tr>
      <td>Brands</td>
      <td><i class="fab fa-chrome"></i></td>
      <td>fab fa-chrome</td>
    </tr>
  </tbody>
</table>