<p>
  <h1><%= @post.title %></h1>
  <hr>
</p>

<p>
  <%= @post.content.html_safe %>
</p>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
<%= link_to 'Back', posts_path, class: 'btn btn-primary' %>
